{% extends 'base.html' %}

{% block title %}
    {{ title }}
{%endblock %}

{% block content %}
<div class="container">
    <h1>{{ title }}</h1>
    <ul>
         <li>
            <h3>{{ recipe.title }}</h3>
             <p>Дата добавления: {{ recipe.date_added }}</p><br>
             <p>Кол-во просмотров: {{ recipe.views }}</p><br>
             <p>Категория: {{ recipe.display_categories }}</p><br>
            <p>Автор рецепта: {{ recipe.author }}</p><br>
             <img src="{{ recipe.photo.url }}" width="300px" class="rounded mx-auto d-block">
             <p> Описание: {{ recipe.description }}</p><br>
            <p>Ингридиенты:{{ recipe.display_ingredients }}</p><br>



        </li>
    </ul>
</div>
{% endblock %}