<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous">


</head>
<body>
    <header class="container">
    <a href="{% url 'index' %}">
        <span class="logo fs-2 text-decoration-none">Сайт рецептов</span>
    </a>
        <nav class="nav justify-content-center">
            <a class="nav-link" href="{% url 'first_dishes' %}">Рецепты первых блюд</a>
            <a class="nav-link" href="{% url 'second_dishes' %}">Рецепты вторых блюд</a>
            <a class="nav-link" href="{% url 'snacks_dishes' %}">Рецепты закусок</a>
            <a class="nav-link" href="{% url 'drink_recipes' %}">Рецепты напитков</a>
            <a class="nav-link" href="{% url 'sauce_recipes' %}">Рецепты соусов</a>
            <a class="nav-link" href="{% url 'index' %}">Добавить рецепт</a>
        </nav>
    <header>
    {% block content %}



    {% endblock %}
    <footer>
      <p>Сайт рецептов на Django. Давыдов Денис Викторович. 2024</p>
    </footer>
</body>
</html>