*{
    margin:0;
    padding:0;
}
.header-nav{
    display: flex;
    justify-content: space-between;
}
ul > li{
    list-style-type: none;
}
.link{
    text-decoration:none;
}

.user-login{
    display: flex;
    justify-content: flex-end;
}